In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('population.csv')

In [4]:
df.head()

  Country Name Country Code  Year        Value
0   Arab World          ARB  1960   92490932.0
1   Arab World          ARB  1961   95044497.0
2   Arab World          ARB  1962   97682294.0
3   Arab World          ARB  1963  100411076.0
4   Arab World          ARB  1964  103239902.0

##### Make a plot of the Dutch population for all available years.

In [5]:
netherlands_df = df[df['Country Name'] == 'Netherlands']
ax = netherlands_df.plot(x='Year',y='Value',kind='line')
ax.set_title('Population in the Netherlands')
ax.set_ylabel('Number of people')

Text(0,0.5,'Number of people')

##### Create a _DataFrame_ consisting of the time series for the Netherlands, France, China and Burundi (Country Codes: _NLD, FRA, CHN and BDI_). Compute the relative increase for all countries (yearly increase divided by population, you can use for example _DataFrame.diff()_). The relative increase time series can be compared among countries. Make a table of the correlation coefficients.

In [6]:
df_nld = df[df['Country Code']=='NLD']
df_chn = df[df['Country Code']=='CHN']
#df_fra = df[df['Country Code']=='FRA']
#df_bdi = df[df['Country Code']=='BDI']
df_gha = df[df['Country Code']=='GHA']

nld = pd.Series(df_nld['Value'].tolist(),index=df_nld['Year'],name='NLD')
chn = pd.Series(df_chn['Value'].tolist(),index=df_chn['Year'],name='CHN')
#fra = pd.Series(df_fra['Value'].tolist(),index=df_fra['Year'],name='FRA')
#bdi = pd.Series(df_bdi['Value'].tolist(),index=df_bdi['Year'],name='BDI')
gha = pd.Series(df_gha['Value'].tolist(),index=df_gha['Year'],name='GHA')

nld = nld.diff()/nld.max()
chn = chn.diff()/chn.max()
#fra = fra.diff()/fra.max()
#bdi = bdi.diff()/bdi.max()
gha = gha.diff()/gha.max()

df_comparison = pd.DataFrame({'NLD':nld,'CHN':chn,'GHA':gha})
df_comparison.corr()

          NLD       CHN       GHA
NLD  1.000000  0.432976 -0.731830
CHN  0.432976  1.000000 -0.603098
GHA -0.731830 -0.603098  1.000000